@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: rgb(67, 146, 219);
    --yellow: rgb(255, 208, 0);
    --gray: rgb(226, 226, 226);
    --darkgray: #555555;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --hover: rgba(255, 255, 255, 0.2);
    --clicked: rgba(255, 255, 255, 0.5);
}

body {
    font-family: Roboto, 'Segoe UI', sans-serif;
    background-color: var(--gray)
}

button {
    cursor:pointer;
}


/* ==================== */

.container {
    display: grid;
    grid-template-columns: 275px 1fr;
    min-height: 100vh;
}

/* ==================== */

.sidebar {
    background-color: var(--blue);
    color: white;
    grid-row: 1 / -1; 
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    color: white;
    padding: 16px;
    width: 100%;
}


.sidebar-header h1 {
    font-size: 28px;
}

.sidebar-nav ul {
    list-style: none;
    margin-top: 50px;
}

.sidebar-nav li:hover, .sidebar-header:hover {
    background-color: var(--hover);
}

.sidebar-nav li:active, .sidebar-header:active {
    background-color: var(--clicked);
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* ! too lazy to change image colours so just inverting them ! */
.sidebar-nav a img, .sidebar-header img {
    filter: invert(100%)
}

.sidebar-nav a img {
    width: 24px;
    height: 24px;
}



/* ==================== */

.main-content {
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr;
}


.top-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    grid-column: 1;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    gap: 30px;
}

.bottom-row {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    gap: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search-bar input {
    width: 700px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    background-color: var(--gray);
}

.search-bar img {
    width: 24px;
    height: 24px;
}

.search-bar button {
    border: none;
    background-color: transparent;
}

.action-buttons {
    display: flex;
    gap: 32px;
    margin-left: auto;
}

.action-buttons button {
    border-radius: 20px;
    min-width: 100px;
    padding: 12px;
    font-size: 14px;
}

.top-panel-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.top-panel-right img {
    height: 24px;
    width: 24px;
    filter: invert(20%)
}

.notification-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 32px;
}

#avatar-small {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    filter: none;
}

#avatar-big {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    filter: none;
}

.username {
    font-weight: 900;
    font-size: 18px;
}


.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--blue);
    color: white;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    filter: brightness(120%);
}


/* ==================== */


.cards-container {
    padding: 30px 40px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}


.projects h3, .right-side-cards h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.projects-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    border-left: 5px solid var(--yellow);
    word-break: break-all;
}

.project-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    color: var(--darkgray);
    line-height: 1.5;
    margin-bottom: 15px;
}

.project-card-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.project-card-buttons button {
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    filter: invert(20%)
}

/* ==================== */

.right-side-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.announcements-section h3,
.trending-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.announcements-cards-container,
.trending-cards-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 500px;
}

.announcement-card {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 15px;
    word-break: break-all;
}

.announcement-card:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.announcement-card h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.announcement-card p {
    font-size: 14px;
    color: var(--darkgray);
}

.trending-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray);
    word-break: break-all;
}

.trending-card:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.trending-card img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.trending-card-text p {
    margin-top: 5px;
    font-size: 14px;
    color: var(--darkgray)
}

