:root {
    --green: #596D48;
    --light-green:#748862;
    --grey: rgb(250, 250, 250);
}


body {
    margin: 0px;
    padding: 0px;

    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 4px;
}


#logo-container {
    background-image: url('./images/background.jpg');
}


#logo {
    color: white;
    background-color: rgba(0,0,0,0.25);

    display: flex;
    align-items: center;
}

#photo-credit, #photo-credit a {
    color: white;
}

#form-container {
    background-color: var(--grey);
}

#form-header {
    font-size: 20px;
    font-weight: 500;
}

#form-fields {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
}

.input-row {
    display: flex;
    margin-bottom: 12px;
}

.input-field {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.input-field label {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


#form-buttons button {
    color: white;
    font-weight: 600;
    background-color: var(--green);
    border: transparent;
    border-radius: 4px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#form-buttons button:hover {
    background-color: var(--light-green);
}


#form-buttons a {
    color: var(--green);
    text-decoration: none;
    font-weight: 600;
}